@media(max-width: 960px) {
  /* Structure */
  body {
    padding-bottom: 60px;
  }

  .container {
    width: 100%;
  }

  .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    width: 100%;
  }

  div[class*="col-"] {
    padding-left: 15px;
  }


  /* Footers */
  footer {
    width: 100%;
  }

    footer p {
      float: none !important;
      display: block;
    }
}



@media(max-width: 786px) {
  .mobile-clear {
    clear: both;
  }

  .col-6 {
    width: 100%;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5 {
    width: 50%;
  }

  /* Headers */
  header .header-content {
    height: auto;
    margin-bottom: 50px;
  }

    header .header-content h1 {
      padding-top: 20px;
      margin: 0;
      font-size: 48px;
    }

    header .header-content p {
      font-size: 16px;
      margin: 10px 0;
    }

  header .btn-row {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    border-bottom: 2px solid #aaa;
    background-color: #eee;
    white-space: nowrap;
    overflow-x: scroll;
  }

    header .btn-group {
      display: inline;
    }

    header .btn-row>.btn-group>.btn {
      padding: 10px;
      margin: 0;
      border: none !important;
      border-radius: 0;
      display: inline-block;
      color: #333;
      text-shadow: none;
    }

      header .btn-row>.btn-group>.btn a {
        color: #333;
      }

      header .btn-row>.btn-group>.btn:hover, header .btn-row>.btn-group>.btn a:hover {
        color: #a25;
      }

      header .btn-row>.btn-group>.btn.active {
        color: #a25;
      }
}



@media(max-width: 680px) {
  div[class*="col-"] {
    width: 100%;
  }
}

@media(max-width: 480px) {
    /* Tables */
  table, thead, tbody, tr, th, td {
    display: block;
  }

  table {
    margin-bottom: 20px;
  }

  table thead th {
    display: none;
  }

  table tr {
    margin: 0 -15px;
    padding-bottom: 10px;
  }

  table tbody th {
    padding: 15px 15px 5px 15px;
    text-align: left;
    width: 100%;
  }

  table td {
    position: relative;
    padding: 5px 0 5px 40%;
    text-align: left;
  }

    table td:before {
      position: absolute;
      left: 0;
      width: 30%;
      font-weight: 500;
      text-align: right;
      content: attr(data-title);
    }
}
